
header {
    text-align: center;
    background-color: var(--piff);
    padding: 1rem;
}

header h1 {
    font-size: clamp(2.5rem, 8vw, 4rem);
    background-color: var(--piff);
}

footer {
    font-weight: bold;
    font-size: 90%;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--text);
    color: var(--bg);
}