@if(courseService.loading()) {
<div>Laddar...</div>
}

@if(courseService.error()) {
<p class="error">{{ courseService.error() }}</p>
}

<section class="filter">
  <label for="filter">Filtrera:</label>
  <input id="filter" type="text" placeholder="Sök kurskod eller kursnamn..." [value]="filterText()"
    (input)="filterText.set($any($event.target).value)" />
</section>

<table>
  <thead>
    <tr>
      <th (click)="setSort('code')">Kurskod</th>
      <th (click)="setSort('coursename')">Kursnamn</th>
      <th (click)="setSort('progression')">Progression</th>
    </tr>
  </thead>

  <tbody>
    <!-- Loopar igenom SORTERAD lista -->
    @for(course of sortedCourses(); track course.code) {
    <tr>
      <td>{{ course.code }}</td>
      <td>
        <a [href]="course.syllabus" target="_blank">{{ course.coursename }}</a>
      </td>
      <td>{{ course.progression }}</td>
    </tr>
    }

  </tbody>

</table>