/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #22304a;
    --bg: #ffdce5;
    --piff: #f7c948;
    --wakeup: #40E0D0;
    --harmony:  #f4efe9;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    color: var(--text);
    background-color: var(--bg);
    font-family: 'Mulish', sans-serif;
    line-height: 1.5;
}

main {
    flex: 1;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
}

